template
dist
main.pdf
watermark.pdf
thesis.pdf
cover.pdf
bookcover.pdf

html_output

# Created by https://www.gitignore.io
.DS_Store
*.swp
./*.pdf

### LaTeX ###
_minted-*
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
